<h1>FAQ</h1>




<ngb-accordion [closeOthers]="true" id="static-1">
  <ngb-panel id="static-{{question.id}}" title="{{question.sporsmal}}" *ngFor="let question of alleQuestions">
      <ng-template ngbPanelContent>
          {{question.svar}}<br /><br />
          {{question.ratingOpp}} <button class="btn btn-success" (click)="endreRating(question.id, question.sporsmal, question.svar, question.ratingOpp, question.ratingNed, 0)">Like</button>
          {{question.ratingNed}} <button class="btn btn-danger" (click)="endreRating(question.id, question.sporsmal, question.svar, question.ratingOpp, question.ratingNed, 1)">Disike</button>
       </ng-template>
   </ngb-panel>
</ngb-accordion>


