::ng-deep .card {
  margin-left: 25%;
  width: 50%;
  border-left-color: forestgreen;
}

.vy-logo {
  width: 45px;
  height: auto;
  float: right;
}

.liker {
  color: green;
}

.disliker {
  color: red;
}

.bakgrunn {
  margin-top: 25px;
  position: center;
  width: 100%;
}




