/*
.card-header {
  width: auto;
  position: center;
}


.card-body {
  width: 50%;
  position: center;
}
*/

.card {
  width: 50%;
  position: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
  margin-bottom: 12px;
}

.boks {
  float: left;
}
