

<body>
  <!-- Masthead -->
  <header class="masthead text-white text-center">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-9 mx-auto">

          <h2 class="mb-5"><b>Vy</b> tar utgangspunkt i kundene og deres behov og beskriver omstillingen <b>Vy</b> skal gjennom for å tilby kundene den beste reisen. </h2>
          <h3>Her kan du se etter FAQ eller ta kontakt med oss!</h3>
        </div>
      </div>
    </div>
  </header>
</body>


<!-- Icons Grid -->
<section class="features-icons bg-light text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-4"  >
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <a [routerLink]="['/FAQ']">
            <div class="features-icons-icon d-flex">
              <i class="icon-screen-desktop m-auto text-primary"><img src="assets/bilde/FAQ.png"></i>
            </div>
            <h3 class="service-title">FAQ</h3>
          </a>
          <p class="lead mb-0">Her finner du ofte stilte spørsmål og <b>Vy</b> svarer dem!</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <a [routerLink]="['/bruker']">
            <div class="features-icons-icon d-flex">
              <i class="icon-layers m-auto text-primary"><img src="assets/bilde/kontakt.png"></i>
            </div>
            <h3>Kontakt oss</h3>
          </a>
          <p class="lead mb-0">Fikk du ikke svaret du var ute etter? Send gjerne inn ditt spørsmål!</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
          <a [routerLink]="['/bruker']">
            <div class="features-icons-icon d-flex">
              <i class="icon-check m-auto text-primary"><img src="assets/bilde/collection.png"></i>
            </div>
            <h3>Spørsmål stilt</h3>
          </a>
          <p class="lead mb-0">Her finner du spørsmål fra kunder som har sendt inn hos <b>Vy</b>!</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!--
<h1 class="mb-5">Visjonen «Den beste reisen» </h1>
<img src="assets/bilde/vy-tog.jpg" class="bg">



<h1>Hello, VY!</h1>



<div>
  Skriv inn noe her: <input [(ngModel)]="Navn" /><br />
  Navnet er: {{Navn}}
</div>


<div>
  <h1>Kundeliste</h1>

  <div class="col-md-6">
    <input [(ngModel)]="navn" placeholder="navn" />
    <input [(ngModel)]="sporsmal" placeholder="Spørsmål" />
    <button class="btn btn-primary btn-xs" (click)="leggTilKunde()">Legg til spørsmål</button>
  </div>

  <table class="table">
    <thead>
      <tr>
        <td>Navn og spørsmål</td>
      </tr>
    </thead>
    <tbody class="col-md-4">
      <tr *ngFor="let kunde of kunder" style="margin-bottom: 10px;">
        <td>{{kunde.utData}}</td>
        <td><button class="btn btn-danger btn-xs" (click)="slettKunde(kunde)">Slett</button></td>
      </tr>
    </tbody>
  </table>
</div>
-->
