<h1>Hello, VY!</h1>

<!--
<div>
  Skriv inn noe her: <input [(ngModel)]="Navn" /><br />
  Navnet er: {{Navn}}
</div>

<div>
  <h1>Kundeliste</h1>

  <div class="col-md-6">
    <input [(ngModel)]="navn" placeholder="navn" />
    <input [(ngModel)]="sporsmal" placeholder="Spørsmål" />
    <button class="btn btn-primary btn-xs" (click)="leggTilKunde()">Legg til spørsmål</button>
  </div>

  <table class="table">
    <thead>
      <tr>
        <td>Navn og spørsmål</td>
      </tr>
    </thead>
    <tbody class="col-md-4">
      <tr *ngFor="let kunde of kunder" style="margin-bottom: 10px;">
        <td>{{kunde.utData}}</td>
        <td><button class="btn btn-danger btn-xs" (click)="slettKunde(kunde)">Slett</button></td>
      </tr>
    </tbody>
  </table>
</div>
-->
